.card {
	background-color: #1A202C;
	box-shadow: none;
}
.card-content {
	padding: 0.75rem 1rem;
}
.card-content a {
	word-break: break-all;
}
.image img {
	width: 96px;
	height: 96px;
	object-fit: cover;
}
.markdown, .markdown strong {
	color: #F5F5F5; /* .has-text-light */
}
.markdown a, .markdown a strong {
	color: #F14668; /* .has-text-danger */
}
.markdown a:hover, .markdown a:hover strong {
	color: #EE1742; /* .has-text-danger:hover */
}
span.score {
	white-space: nowrap;
}
.delete, .delete:focus {
	background-color: #F14668; /* .is-danger */
	margin-left: 3px;
	vertical-align: super;
}
.delete:hover {
	background-color: #EE1742; /* .is-danger:hover */
}
.closed {
	transform: rotate(45deg);
}
@media screen and (max-width: 768px) {
	/* Reduce spacing between level items on mobile */
	.level-left + .level-right {
		margin-top: 0rem;
	}
	/* Reduce size of thumbnails on mobile */
	figure.image.is-96x96, .image img {
		width: 48px;
		height: 48px;
	}
}
/* Fix for equalizing select input width in horizontal form */
@media screen and (min-width: 769px) {
	.field-body > .field:not(.is-narrow) {
		box-flex: 1;
		flex-grow: 1;
	}
	.field-body>.field {
		flex: 1;
	}
}
/* .card {
	--bg-opacity: 1;
	background-color: #1a202c;
	background-color: rgba(26, 32, 44, var(--bg-opacity));
	margin-top: 5px;
}
.card p, .card strong, .card .field, ::marker, .card h1, .card h2, .card h3, .card li, .markdown {
	--text-opacity: 1;
	color: #f7fafc;
	color: rgba(247, 250, 252, var(--text-opacity));
}
.card a {
	--text-opacity: 1;
	color: #f56565;
	color: rgba(245, 101, 101, var(--text-opacity));
}
.card-content {
	padding: 0.5rem;
}
.card .reddit-title {
	--text-opacity: 1;
	color: #f7fafc;
	color: rgba(247, 250, 252, var(--text-opacity));
	font-weight: bold;
}
.flex {
	display: flex
}
.content blockquote {
	background-color: unset;
}
.field:not(:last-child) {
	margin-bottom: 5px;
}
.button.is-danger.is-small {
	font-size: 8px;
	margin-top: 2px;
	margin-left: 5px;
	padding: 6px;
	background-color: #f56565;
} */